<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>予定を記入してください</h2>
      <%= link_to 'カレンダーのページに戻る', schedules_index_path, class: 'btn'%>
    </div>
  <%= form_with(model: @schedule, local: true) do |form| %>

    <div class="work">
      <%= form.label :"業務内容" %>
      <%= form.text_field :work %>
    </div>

      <div class="time">
      <%= form.label :"予定時間" %>
      <%= form.datetime_select :start_time %>
    </div>

    <div class="item">
      <%= form.label :"作業道具" %>
      <%= form.text_field :item %>
    </div>

    <div class="place">
      <%= form.label :"場所　　" %>
      <%= form.text_field :place %>
    </div>

    <div class="memo">
      <%= form.label :"備考　　" %>
      <%= form.text_field :memo %>
    </div>

    <div class="submit">
      <%= form.submit %>
    </div>

  <% end %>
  </div>
</div>