<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>予定を記入してください</h2>
      <%= link_to 'カレンダーのページに戻る', schedules_index_path, class: 'btn'%>
      <%= link_to '編集する', edit_schedule_path(@schedule.id), method: :get, class: 'btn'%>
      <%= link_to '削除', schedule_path{@schedule.id}, method: :delete, class: 'btn' %>
    </div>
  <%= form_with(model: @schedule, local: true) do |form| %>

    <div class="work">
      <%= form.label :"業務内容" %>
      <%= @schedule.work %>
    </div>

    <div class="item">
      <%= form.label :"作業道具" %>
      <%= @schedule.item %>
    </div>

    <div class="place">
      <%= form.label :"場所　　" %>
      <%= @schedule.place %>
    </div>

    <div class="memo">
      <%= form.label :"備考　　" %>
      <%= @schedule.memo %>
    </div>
  <% end %>
</div>